/* Comment.css */
/* Comment.css */

.container-open-ended {
  text-align: center;
  margin: 20px;
  background-image: url("https://img.freepik.com/premium-photo/abstract-background-light-blue-shades-with-glare-bokeh-effect_494741-80236.jpg?w=2000");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: -600px;
  padding-bottom: 450px;
  background-size: auto;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 5px;
  position: relative; /* Added for positioning the home button */
}



.container-open-ended h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.container-open-ended .contentComment {
  margin-bottom: 20px;
}

.container-open-ended .contentComment h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.container-open-ended .contentComment input[type="text"] {
  padding: 8px;
  margin-bottom: 10px;
  width: 300px;
}

.container-open-ended .contentComment button {
  background-color: #0faab5;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.container-open-ended .contentComment button:hover {
  background-color: #ec47de;
}

.container-open-ended .question {
  margin-bottom: 10px;
}

.container-open-ended .question p {
  margin-bottom: 5px;
}

.container-open-ended .question textarea {
  padding: 8px;
  width: 300px;
  height: 100px;
}

/* Submit button styles */
.submit-button-container {
  margin-top: 20px;
}

.submit-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #0056b3;
}
.home-button {
  position: absolute;
  top: 10px;
  left: 10px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #0faab5;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.home-button:hover {
  background-color: #ec47de;
}
